body { 
  background: url(./assets/cookingbg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 0.9;
  background-color: black;

}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* width */
::-webkit-scrollbar {
  width: 0.5vh;

}

/*Custom Scroll Bar Style */

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border: 1px solid hsla(206, 30%, 51%, 0.548); 
  border-radius: 3px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
  border: 1px solid hsla(206, 30%, 51%, 0.548); 
  border-radius: 3px;
  opacity: 0.8;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(255, 255, 255); 
}

.nav-style {
  display: flex;
  flex-direction: column;
}

.nav-style img {
  max-height: 13vh;
}


/* Browse Component Stylings */

.creation-list {
  margin: 1vh;
  font-size: 1.3rem;
  display: inline;

}

